html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: 200% 200%;
  background-image: linear-gradient(to left, #a5eff9, #d9c1fa, #94a0ea, #819aee, #a5eff9);
  animation: gradient 20s ease-in-out infinite;
  overflow: hidden;
}
canvas {
  display: block;
}
@keyframes gradient {
  0% {background-position: 100% 0%;}
  50% {background-position: 0% 100%;}
  100% {background-position: 100% 0%;}
}